@media screen and (max-width: 1300px) {
  .form-img {
    display: none;
  }

  .section-4 {
    .from-container {
      height: 60%;
    }
  }
}

@media screen and (max-width: 1150px) {
  .floating-bg {
    top: -110vw;
  }

  .section-1 {
    &-heading {
      font-size: 5rem;
      top: 30vw;
      width: 60rem;
    }

    .logo {
      i {
        font-size: 9rem;
      }
    }
  }
}

//
@media screen and (max-width: 950px) {
  .floating-bg {
    top: -100vw;
  }

  .section-1 {
    &-heading {
      top: 40vw;
    }

    .navbar {
      justify-content: space-around;
    }
  }
}

//
@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }

  .floating-bg {
    top: -90vw;
  }

  .section-1 {
    &-heading {
      top: 50vw;
    }
  }

  .section-heading {
    margin-bottom: 5rem;
  }
}

//
@media screen and (max-width: 550px) {
  html {
    font-size: 45%;
  }

  .floating-bg {
    top: -70vw;
  }

  .section-1 {
    &-heading {
      top: 65vw;
      font-size: 3.5rem;
      width: 42rem;
    }
  }

  .section-2 {
    .customer {
      margin: 5rem;
    }
  }

  .section-3 {
    .team-member {
      margin: 5rem;
    }
  }

  .section-4 {
    height: auto;

    .from-container {
      background: transparent;
      box-shadow: none;

      .contact-form {
        box-shadow: 1rem 1rem 2rem #aaa;

        &:hover {
          box-shadow: 2rem 2rem 3rem #aaa;
        }
      }
    }

    .copyright {
      font-size: 1.8rem;
      text-align: center;
    }
  }

  .section-heading {
    font-size: 5rem;
    margin-bottom: 5rem;
  }

  .scroll-top-btn {
    position: fixed;
    bottom: 3rem;
    right: 2em;
  }
}
